<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.nuxeo.android.automationsample"
      android:versionCode="1"
      android:versionName="1.0">

	<uses-sdk android:minSdkVersion="8" />

	<!-- We need this permission, in order to access to Internet -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="org.nuxeo.android.automationsample.NuxeoSampleApplication">
        <activity android:name="HomeSampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ConnectSampleActivity"
                  android:label="Connect to Nuxeo Server">
        </activity>
        <activity android:name="SimpleFetchSampleActivty"
                  android:label="Simple Data retrieval">
        </activity>
        <activity android:name="DocumentProviderSampleActivity"
                  android:label="Sample for DocumentProviders">
        </activity>
        <activity android:name="NetworkSettingsActivity"
                  android:label="Nuxeo Offline Settings">
        </activity>
        <activity android:name="ContentProviderSampleActivity"
                  android:label="Cursor sample">
        </activity>
        <activity android:name=".CreateEditActivity"
                  android:label="CreateEditActivity">
        </activity>
        <activity android:name=".ServerSettingsActivity"
                  android:label="Settings">
        </activity>
		<provider android:name="org.nuxeo.android.contentprovider.NuxeoDocumentContentProvider"
		          android:authorities="nuxeo">
		</provider>
    </application>
</manifest>