<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nuxeo.android.automationsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- We need this permission, in order to access to Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.nuxeo.android.automationsample.NuxeoSampleApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="org.nuxeo.android.automationsample.HomeSampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.ConnectSampleActivity"
            android:label="Connect to Nuxeo Server" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.SimpleFetchSampleActivty"
            android:label="Simple Data retrieval" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.SimpleDocumentsListSampleActivity"
            android:label="Sample for using Document Lists" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.GetChildrenSampleActivity"
            android:label="Browse the repository" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.DocumentProviderSampleActivity"
            android:label="Sample for DocumentProviders" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.DocumentProviderViewActivity"
            android:label="Browse a DocumentProvider" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.ContentProviderSampleActivity"
            android:label="Cursor sample" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.DocumentLayoutActivity"
            android:label="CreateEditActivity" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automation.NetworkSettingsActivity"
            android:label="Nuxeo Offline Settings" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automation.ServerSettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="org.nuxeo.android.automationsample.HistorySampleActivity"
            android:label="Document History" >
        </activity>

        <provider
            android:name="org.nuxeo.android.contentprovider.NuxeoDocumentContentProvider"
            android:authorities="nxsample" >
        </provider>

        <activity
            android:name="org.nuxeo.android.testsfrag.TestsFragActivity"
            android:label="@string/title_activity_tests_frag" >
        </activity>
        <activity
            android:name="org.nuxeo.android.testsfrag.DocumentLayoutFragActivity"
            android:label="@string/title_activity_document_layout_frag" >
        </activity>
        <activity
            android:name="org.nuxeo.android.testsfrag.ListFragActivity"
            android:label="@string/title_activity_list_frag" >
        </activity>
    </application>

</manifest>
