<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nuxeo.android.simpleclient"
  android:versionCode="1"
  android:versionName="0.1"
  android:installLocation="auto">

  <uses-sdk
    android:minSdkVersion="4" />

  <!-- We need this permission, in order to access to Internet -->
  <uses-permission
    android:name="android.permission.INTERNET" />
  <!-- We need this permission, because we write on the SD card -->
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- We need this permission, when geolocalizing -->
  <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/ -->

  <application
    android:name="NuxeoAndroidApplication"
    android:icon="@drawable/icon"
    android:label="@string/applicationName"
    android:description="@string/applicationDescription"
    android:theme="@style/Theme.NuxeoAndroid">

    <!-- This is required in order to have Google Maps work at runtime! -->
    <!--uses-library android:name="com.google.android.maps"/ -->

    <provider
      android:name=".provider.DocumentsSearchProvider"
      android:authorities="org.nuxeo.android.simpleclient.provider.PartnersSearchProvider" />

    <activity
      android:name=".NuxeoAndroidSplashScreenActivity"
      android:screenOrientation="portrait"
      android:configChanges="keyboardHidden|orientation"
      android:alwaysRetainTaskState="true"
      android:excludeFromRecents="true"
      android:multiprocess="true"
      android:theme="@style/Theme.NuxeoAndroid.NoTitle" />

    <activity
      android:name=".HomeActivity"
      android:configChanges="keyboardHidden|orientation"
      android:screenOrientation="portrait">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data
        android:name="android.app.default_searchable"
        android:value=".DocumentsSearchActivity" />
    </activity>

    <activity
      android:name=".MyDocumentsActivity"
      android:configChanges="keyboardHidden|orientation" />

    <activity
      android:name=".DocumentViewActivity"
      android:configChanges="keyboardHidden|orientation" />

    <activity
      android:name=".DocumentsSearchActivity"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action
          android:name="android.intent.action.SEARCH" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/documents_search_searchable" />
    </activity>

    <activity
      android:name=".ClipboardDocumentsActivity"
      android:configChanges="keyboardHidden|orientation" />

    <activity
      android:name=".SavedSearchesDocumentsActivity"
      android:configChanges="keyboardHidden|orientation" />

    <activity
      android:name=".LoginScreenActivity"
      android:windowSoftInputMode="stateHidden|adjustPan"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".SettingsActivity"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <category
          android:name="android.intent.category.PREFERENCE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".AboutActivity"
      android:configChanges="keyboardHidden|orientation" />

  </application>

</manifest>
