<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.nuxeo.android.appraisal"
      android:versionCode="1"
      android:versionName="1.0">

  <uses-sdk android:minSdkVersion="8" />

  <!-- We need this permission, in order to access to Internet -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:icon="@drawable/appraisal" android:label="Appraisal" android:name="org.nuxeo.android.appraisal.AppraisalApp">
        <activity android:name="AppraisalListActivity"
                  android:label="Pending Appraisals assigned to me" android:theme="@style/Theme.NuxeoAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AppraisalContentListActivity"
                  android:label="Appraisal pictures" android:theme="@style/Theme.NuxeoAndroid">
        </activity>
        <activity android:name="AppraisalLayoutActivity"
                  android:label="Appraisal view" android:theme="@style/Theme.NuxeoAndroid">
        </activity>
        <!-- <activity android:name="DocumentLayoutActivity"
                  android:label="CreateEditActivity" android:theme="@style/Theme.NuxeoAndroid">
        </activity> -->
        <activity android:name="org.nuxeo.android.automation.NetworkSettingsActivity"
                  android:label="Nuxeo Offline Settings" android:theme="@style/Theme.NuxeoAndroid">
        </activity>
        <activity android:name="org.nuxeo.android.automation.ServerSettingsActivity"
                  android:label="Settings" android:theme="@style/Theme.NuxeoAndroid">
        </activity>
    <provider android:name="org.nuxeo.android.appraisal.contentprovider.NuxeoDocumentContentProvider"
              android:authorities="nxapraisal">
    </provider>
    </application>
</manifest>